<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.permissionmanagerlib">

    <application>
        <activity
            android:name=".PermissionManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>